node-red/flows.json
[{"id":"c57bf57c.1527a8","type":"tab","label":"Pairing TV and SB","disabled":false,"info":""},{"id":"317c1c44.48d724","type":"tab","label":"Sync FireTV to TV","disabled":false,"info":""},{"id":"f0572688.2395c8","type":"tab","label":"Boiler Timer","disabled":false,"info":""},{"id":"2166e609.67f0ca","type":"tab","label":"Home is not occupied","disabled":false,"info":""},{"id":"b1a5b20.3d06c5","type":"tab","label":"Home is occupied","disabled":false,"info":""},{"id":"c48b3099.b24dd","type":"tab","label":"Arriving/Leaving the house","disabled":false,"info":""},{"id":"569b01e2.90d6b","type":"server","name":"Home Assistant","addon":true},{"id":"b7abe87b.2775b8","type":"server-state-changed","z":"c57bf57c.1527a8","name":"","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":330,"y":260,"wires":[["58c2b0ce.75a21"]]},{"id":"58c2b0ce.75a21","type":"switch","z":"c57bf57c.1527a8","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":260,"wires":[["aea4ad08.7534"],["ce344629.aed528"]]},{"id":"aea4ad08.7534","type":"api-call-service","z":"c57bf57c.1527a8","name":"turn on SB","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_soundbar","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":180,"wires":[["7c0b8c61.3740c4"]]},{"id":"ce344629.aed528","type":"api-call-service","z":"c57bf57c.1527a8","name":"turn off SB","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_soundbar","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":320,"wires":[["df79c69.5a5ab38"]]},{"id":"7c0b8c61.3740c4","type":"debug","z":"c57bf57c.1527a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]},{"id":"df79c69.5a5ab38","type":"debug","z":"c57bf57c.1527a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":320,"wires":[]},{"id":"8ed071a8.09104","type":"server-state-changed","z":"317c1c44.48d724","name":"TV state","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":240,"wires":[["ef966eaf.86c08"]]},{"id":"ef966eaf.86c08","type":"switch","z":"317c1c44.48d724","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":240,"wires":[["860e36b.4c1f9c8"],["519c898e.a434c8"]]},{"id":"860e36b.4c1f9c8","type":"api-call-service","z":"317c1c44.48d724","name":"wake fireTV","server":"569b01e2.90d6b","version":1,"debugenabled":true,"service_domain":"androidtv","service":"adb_command","entityId":"media_player.amazon_fire","data":"{\"command\": \"input keyevent 26\" }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":180,"wires":[["1f66f02f.e135e"]]},{"id":"519c898e.a434c8","type":"api-call-service","z":"317c1c44.48d724","name":"sleep fireTV","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"androidtv","service":"adb_command","entityId":"media_player.amazon_fire","data":"{\"command\": \"input keyevent 223\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":300,"wires":[["27c2e19e.cb897e"]]},{"id":"1f66f02f.e135e","type":"debug","z":"317c1c44.48d724","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"27c2e19e.cb897e","type":"debug","z":"317c1c44.48d724","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"e4248574.5550f8","type":"server-state-changed","z":"f0572688.2395c8","name":"Boiler state","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.boiler_tuya","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":260,"wires":[["74f959d5.db8568"]]},{"id":"74f959d5.db8568","type":"switch","z":"f0572688.2395c8","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":260,"wires":[["fc2ae915.d5f9a8"],["f4a7c65.b9e7638"]]},{"id":"fc2ae915.d5f9a8","type":"stoptimer","z":"f0572688.2395c8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"Bioler Timer","x":690,"y":260,"wires":[["a1864fe0.3a9d8"],["97c6fbd1.1d9cd8"]]},{"id":"a1864fe0.3a9d8","type":"api-call-service","z":"f0572688.2395c8","name":"Turn off Boiler","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.boiler_tuya","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":140,"wires":[["6a41f25f.4e290c"]]},{"id":"97c6fbd1.1d9cd8","type":"debug","z":"f0572688.2395c8","name":"Timer stoped","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":320,"wires":[]},{"id":"6a41f25f.4e290c","type":"debug","z":"f0572688.2395c8","name":"worked","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"boiler worked for 1 hour","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":140,"wires":[]},{"id":"f4a7c65.b9e7638","type":"change","z":"f0572688.2395c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["fc2ae915.d5f9a8"]]},{"id":"aad1f274.a559","type":"server-state-changed","z":"2166e609.67f0ca","name":"Yair is leaving","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.yair","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":40,"wires":[["15b43a65.1b1ff6"],[]]},{"id":"15b43a65.1b1ff6","type":"api-current-state","z":"2166e609.67f0ca","name":"Maggy is away","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.maggy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":40,"wires":[["b7bbb4bc.9ce598"],["2d472927.c5cca6"]]},{"id":"b7bbb4bc.9ce598","type":"api-current-state","z":"2166e609.67f0ca","name":"House guests","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":40,"wires":[["bbbe7e40.b904c"],["1b5758fd.5ffdb7"]]},{"id":"bbbe7e40.b904c","type":"api-call-service","z":"2166e609.67f0ca","name":"home isn't occupied ","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_is_occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":80,"wires":[["9850bfa5.28aa9"]]},{"id":"529bb03a.90c68","type":"debug","z":"2166e609.67f0ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":160,"wires":[]},{"id":"176103c6.231e3c","type":"debug","z":"2166e609.67f0ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":320,"wires":[]},{"id":"7b532c96.b1a774","type":"server-state-changed","z":"2166e609.67f0ca","name":"Maggy is leaving","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.maggy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":160,"wires":[["14e5b879.3b57a8"],[]]},{"id":"14e5b879.3b57a8","type":"api-current-state","z":"2166e609.67f0ca","name":"yair is away","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.yair","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":160,"wires":[["b7bbb4bc.9ce598"],["da3a9e8e.90acb"]]},{"id":"2d472927.c5cca6","type":"change","z":"2166e609.67f0ca","name":"maggy is home","rules":[{"t":"set","p":"payload","pt":"msg","to":"maggy is home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["176103c6.231e3c"]]},{"id":"1b5758fd.5ffdb7","type":"change","z":"2166e609.67f0ca","name":"guests are home","rules":[{"t":"set","p":"payload","pt":"msg","to":"guests are home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["176103c6.231e3c"]]},{"id":"da3a9e8e.90acb","type":"change","z":"2166e609.67f0ca","name":"yair is home","rules":[{"t":"set","p":"payload","pt":"msg","to":"yair is home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["176103c6.231e3c"]]},{"id":"c2308c5e.616ac","type":"server-state-changed","z":"b1a5b20.3d06c5","name":"Yair is arriving","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.yair","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":100,"wires":[["5026d966.46dc78"],[]]},{"id":"5026d966.46dc78","type":"api-current-state","z":"b1a5b20.3d06c5","name":"Maggy is away","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.maggy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":100,"wires":[["83a48223.e1978"],["a350884.c1e6b78"]]},{"id":"83a48223.e1978","type":"api-current-state","z":"b1a5b20.3d06c5","name":"House guests","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":100,"wires":[["94b2548e.cc19f8"],["e9438037.0847a"]]},{"id":"94b2548e.cc19f8","type":"api-call-service","z":"b1a5b20.3d06c5","name":"home is occupied ","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_is_occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":100,"wires":[["2a9dbaed.2ff0e6"]]},{"id":"a1f5ef6e.246ee","type":"debug","z":"b1a5b20.3d06c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":120,"wires":[]},{"id":"550312c1.34643c","type":"debug","z":"b1a5b20.3d06c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":380,"wires":[]},{"id":"b3dd148e.a34978","type":"server-state-changed","z":"b1a5b20.3d06c5","name":"Maggy is arriving","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.maggy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":220,"wires":[["f80e343d.a87428"],[]]},{"id":"f80e343d.a87428","type":"api-current-state","z":"b1a5b20.3d06c5","name":"yair is away","server":"569b01e2.90d6b","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.yair","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":220,"wires":[["83a48223.e1978"],["c0284c46.fd429"]]},{"id":"a350884.c1e6b78","type":"change","z":"b1a5b20.3d06c5","name":"maggy is home","rules":[{"t":"set","p":"payload","pt":"msg","to":"maggy is home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["550312c1.34643c"]]},{"id":"e9438037.0847a","type":"change","z":"b1a5b20.3d06c5","name":"guests are home","rules":[{"t":"set","p":"payload","pt":"msg","to":"guests are home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":240,"wires":[["550312c1.34643c"]]},{"id":"c0284c46.fd429","type":"change","z":"b1a5b20.3d06c5","name":"yair is home","rules":[{"t":"set","p":"payload","pt":"msg","to":"yair is home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["550312c1.34643c"]]},{"id":"9850bfa5.28aa9","type":"change","z":"2166e609.67f0ca","name":"home is not occupied","rules":[{"t":"set","p":"payload","pt":"msg","to":"home is not occupied","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":80,"wires":[["529bb03a.90c68"]]},{"id":"2a9dbaed.2ff0e6","type":"change","z":"b1a5b20.3d06c5","name":"home is occupied","rules":[{"t":"set","p":"payload","pt":"msg","to":"home is occupied","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":120,"wires":[["a1f5ef6e.246ee"]]},{"id":"b6787160.33283","type":"server-state-changed","z":"c48b3099.b24dd","name":"home occupation","server":"569b01e2.90d6b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_is_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":240,"wires":[["583686e1.a311d8"]]},{"id":"583686e1.a311d8","type":"switch","z":"c48b3099.b24dd","name":"Arriving - Leaving","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":240,"wires":[["11f89655.f1e9ea"],["cfa0b97d.6257d8"]]},{"id":"11f89655.f1e9ea","type":"api-call-service","z":"c48b3099.b24dd","name":"turn on door lignt","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.door_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":120,"wires":[["f2b59b65.6c3068"]]},{"id":"f2b59b65.6c3068","type":"debug","z":"c48b3099.b24dd","name":"Arriving","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"d4631528.9603d8","type":"debug","z":"c48b3099.b24dd","name":"Leaving","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":300,"wires":[]},{"id":"cfa0b97d.6257d8","type":"change","z":"c48b3099.b24dd","name":"leaving","rules":[{"t":"set","p":"payload","pt":"msg","to":"leaving","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["bc903d09.cb46a"]]},{"id":"bc903d09.cb46a","type":"api-call-service","z":"c48b3099.b24dd","name":"","server":"569b01e2.90d6b","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.switch, group.fans","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":440,"wires":[["d4631528.9603d8"]]}]
